<h1>Edit Flashcard</h1>

<div class="row">
	<div class="span10">
		<%= form_for [@deck, @flashcard] do |f| %>
			<%= render 'fields', f: f %>
			<div><%= f.submit "Save Changes", class: 'btn btn-large btn-primary' %></div>
		<% end %>
	</div>
</div>	