<h1>Create Account</h1>

<div class="row">
	<div class="span10">
		<%= form_for(@user) do |f| %>
			<%= render 'fields', f: f %>
			<div><%= f.submit "Create My Account", class: 'btn btn-large btn-primary' %></div>
		<% end %>
	</div>
</div>	