@import "bootstrap";

body {
  padding-top: 60px;
  text-align: center;
}

h1 {
  font-weight: bold;
}
h1, h2, h3 {
  text-align: center;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* Deck Index */
.deck-list {
  list-style-type:none;
  padding: 0;
}

/* Deck Show */
.flashcard-list {
  list-style-type: none;
  padding: 0;
}

/* Flashcard Show */
.flashcard-nav {
  margin-top: 20px;
  margin-bottom: 10px;
}

.prev-link, .rand-link, .next-link {
    font-size: 1.2em;
}


.flashcard-container { 
  position: relative;
  -webkit-perspective: 800;
}

.card {
  width: 100%;
  height: 20em;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 1s;

  div {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    background: white;
    position: absolute;

    span {
      font-size: 2em;
      font-weight: bold;
      position: relative;
      top: 40%;
    }
  }
  .card-front {
    position: absolute;
    z-index: 1;
    border: solid black 1px;
  }
  .card-back {
    border: solid black 1px;
    -webkit-transform: rotatey(-180deg);
  }

}
  .flipped {
  -webkit-transform: rotatey(-180deg);
  }
