<%= form_for(@deck) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class ='field'>
		<%= f.text_field :title, placeholder: "Name the Deck..." %>
	</div>
	<%= f.submit button_label, class: "btn btn-primary btn-large" %>
<% end %>	