<h3><%= @deck.title %></h3>
<ul class='flashcard-list'>
	<% if @flashcards.any? %>
		<% @flashcards.each_with_index do |card, index| %>
			<li><%= link_to "Card ##{index+1}", deck_flashcard_path(@deck, card) %></li>
		<% end %>
		<%#= will_paginate @flashcards %>
	<% end %>
</ul>	
