<h3><%= @deck.title %></h3>
<ul class='flashcard-list'>
	<% if @flashcards.any? %>
		<%= will_paginate @flashcards %>
		<% @flashcards.each_with_index do |card, index| %>
			<li><%= link_to card.side_two, deck_flashcard_path(@deck, card) %></li>
		<% end %>
	<% end %>
</ul>	
