<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to "Yoga2Go", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right navbar-nav">
                <li><%= link_to "Home", root_path %></li>
                <li id="fat-menu" class="dropdown">
            </ul>
          </nav>
        </div>
      </div>
</header>